h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #b300ff;
    margin-bottom: 1rem;
}
h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #002fbd;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
  }
